@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Fima.Web.Areas.Administration.Models
@model FimaRolesViewModel

    <h2>Промяна на роля - <b>@Model.Name</b></h2>
    <b style="color:orangered">Внимание, промяната на ролите на потребителите променя достъпа им до различна функционалност в системата!</b>

    <hr />
    
<div>
    <h4>Добавяне на потребители към <b>@Model.Name</b></h4>
    @using (Html.BeginForm("RoleEdit", "Home", new { Id = "add"}, FormMethod.Post, new { @class = "pure-form pure-form-stacked", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="pure-form-group">
            @Html.LabelFor(m => m.FimaUsers, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.FimaUsers, new SelectList(Model.Users), "", new { multiple = "multiple", @class = "form-control", style="min-width:50%" })
            </div>
        </div>
        <div class="pure-form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="pure-button pure-button-primary" value="Добави"/>
            </div>
        </div>
    }
</div>
<hr />
@if (Model.FimaUsers.Count() > 0)
{
<div>
    <h4>Премахване на потребители от <b>@Model.Name</b></h4>
    @using (Html.BeginForm("RoleEdit", "Home", new { Id = "remove" }, FormMethod.Post, new { @class = "pure-form pure-form-stacked", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="pure-form-group">
            @Html.LabelFor(m => m.FimaUsers, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.FimaUsers, new SelectList(Model.FimaUsers), "", new { multiple = "multiple", @class = "form-control", style = "min-width:50%" })
            </div>
        </div>
        <div class="pure-form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="pure-button button-error" value="Премахни" />
            </div>
        </div>
    }
</div>
}
else
{
    <h4>Няма потребители с роля <b>@Model.Name</b></h4>
}