@using CaptchaMvc.HtmlHelpers

@model Fima.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Регистрация на нов потребител";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "pure-form pure-form-aligned", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Създайте нов потребителски профил като попълните формата по-долу.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="pure-control-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>

    <div class="pure-control-group">
        @Html.LabelFor(m => m.UserRole)
        @Html.DropDownListFor(x => x.UserRole, (SelectList)ViewBag.Roles, "изберете роля")
    </div>

    <div class="pure-control-group">
        <label for="CaptchaInputText">Проверка</label>
        <div class="capcha">
            @Html.MathCaptcha("обнови", "Въведете резултата от израза:", "Полето е задължително!", true)
        </div>
    </div>
    <div class="pure-controls">
        <input type="submit" class="pure-button pure-button-primary" value="Регистрация" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
