@using Fima.Common
@model Fima.Web.Areas.FrontOffice.Models.Client.ClientRegisterViewModel
@{
    ViewBag.Title = "Клиенти";
}
<h2>Регистриране на клиент</h2>
<a class="pure-button button-right" href="@Url.Action("Index","Home", new { area = "BackOffice" })"><i class="fa fa-chevron-left"></i> бек офис</a>
<hr />
@using (Html.BeginForm("Register", "Client", FormMethod.Post, new { @class = "pure-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-3">
            <div class="top-form pure-form-stacked">
                <div class="pure-u-1">
                    @Html.LabelFor(m => m.PERSONALID_BULSTAT)
                    @Html.TextBoxFor(m => m.PERSONALID_BULSTAT, new { @class = "pure-u-23-24" })
                </div>
                <div class="pure-u-1">
                    @Html.LabelFor(m => m.TYPE_PERSON)
                    @Html.DropDownListFor(
                        m => m.TYPE_PERSON,
                        new SelectList(GlobalConstants.PerTypes),
                        new { @class = "pure-u-23-24" })
                </div>
                <div class="pure-u-1">
                    @Html.LabelFor(m => m.CONTRACT_TYPE)
                    @Html.DropDownListFor(
                        m => m.CONTRACT_TYPE,
                        new SelectList(GlobalConstants.ContractType),
                        new { @class = "pure-u-23-24" })
                </div>
                <div class="pure-u-1">
                    <label for="reg-cd">регистрация Ц.Д.</label>
                    @Html.DropDownList(
                        "reg-cd",
                        new SelectList(new string[] { "да", "не" }),
                        new { @class = "pure-u-23-24" })
                </div>
            </div>
            <br />
            <div class="top-form pure-controls">
                <input type="submit" class="pure-button pure-button-primary" value="регистрирай" />
            </div>
            <br />
        </div>
        <div class="pure-u-1 pure-u-lg-2-3">
            <div id="accordion">
                <b>данни за физическо лице</b>
                <div class="pure-form-stacked">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <h3 class="form-heading">Име на клиента</h3>
                        </div>

                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.FIRSTNAME)
                            @Html.TextBoxFor(m => m.FIRSTNAME, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.SECONDNAME)
                            @Html.TextBoxFor(m => m.SECONDNAME, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.LASTNAME)
                            @Html.TextBoxFor(m => m.LASTNAME, new { @class = "pure-u-23-24" })
                        </div>
                    </div>
                    <br />
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <h3 class="form-heading">Документ за самоличност</h3>
                        </div>

                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.PERSONAL_ID)
                            @Html.TextBoxFor(m => m.PERSONAL_ID, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.PERSONAL_ID_DATE)
                            @Html.TextBoxFor(m => m.PERSONAL_ID_DATE, new { @class = "pure-u-23-24 datepicker" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.PERSONAL_ID_ISSUED_BY)
                            @Html.TextBoxFor(m => m.PERSONAL_ID_ISSUED_BY, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.CLIENT_BIRTHDATE)
                            @Html.TextBoxFor(m => m.CLIENT_BIRTHDATE, new { @class = "pure-u-23-24 datepicker" })
                        </div>
                    </div>
                </div>
                <h3>данни за юридическо лице</h3>
                <div class="pure-form-stacked">
                    <div class="pure-u-1 pure-u-md-1-2">
                        @Html.LabelFor(m => m.FirmName)
                        @Html.TextBoxFor(m => m.FirmName, new { @class = "pure-u-23-24" })
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        @Html.LabelFor(m => m.ID_NUMBER_TAX_ID)
                        @Html.TextBoxFor(m => m.ID_NUMBER_TAX_ID, new { @class = "pure-u-23-24" })
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        @Html.LabelFor(m => m.DDS_REGISTERED)
                        @Html.DropDownListFor(
                            m => m.DDS_REGISTERED,
                            new SelectList(new string[] { "да", "не" }),
                            new { @class = "pure-u-23-24" })
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        @Html.LabelFor(m => m.TYPE_ORGANIZATION)
                        @Html.DropDownListFor(
                            m => m.TYPE_ORGANIZATION,
                            new SelectList(GlobalConstants.OrganisationType),
                            new { @class = "pure-u-23-24" })
                    </div>
                </div>
                <h3>адрес</h3>
                <div class="pure-form-stacked">
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.COUNTRY_ADDRESS_ID)
                            @Html.DropDownListFor(
                            m => m.COUNTRY_ADDRESS_ID,
                            new SelectList(Model.Countries),
                            new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.TOWN_ADDRESS_ID)
                            @Html.DropDownListFor(
                            m => m.TOWN_ADDRESS_ID,
                            new SelectList(Model.Cities),
                            new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.MUNICIPALITY)
                            @Html.DropDownListFor(
                            m => m.MUNICIPALITY,
                            new SelectList(Model.Municipalities),
                            new { @class = "pure-u-23-24" })
                        </div>

                        <div class="pure-u-1">
                            <label for="checkRES" class="pure-checkbox">
                                <input id="checkRES" type="checkbox"> двойно гражданство
                            </label>
                        </div>
                        <div class="pure-u-1">
                            @Html.LabelFor(m => m.ADDRESS_ID)
                            @Html.TextBoxFor(
                            m => m.ADDRESS_ID,
                            new { @class = "pure-u-1" })
                        </div>
                    </div>
                    <br />
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <h3 class="form-heading">Адрес по местоживеене</h3>
                        </div>
                        <div class="pure-g pure-u-1 pure-u-sm-2-3">
                            <div class="pure-u-1 pure-u-md-11-24">
                                @Html.LabelFor(m => m.RESIDENCE)
                                @Html.TextBoxFor(
                            m => m.RESIDENCE,
                            new { @class = "pure-u-23-24" })
                            </div>
                            <div class="pure-u-1 pure-u-md-11-24">
                                @Html.LabelFor(m => m.STREET)
                                @Html.TextBoxFor(
                            m => m.STREET,
                            new { @class = "pure-u-23-24" })
                            </div>
                        </div>
                        <div class="pure-g pure-u-1 pure-u-sm-1-3">
                            <div class="pure-u-1 pure-u-7-24">
                                @Html.LabelFor(m => m.STRNUM)
                                @Html.TextBoxFor(
                            m => m.STRNUM,
                            new { @class = "pure-u-23-24" })
                            </div>
                            <div class="pure-u-1 pure-u-7-24">
                                @Html.LabelFor(m => m.FLOOR1)
                                @Html.TextBoxFor(
                            m => m.FLOOR1,
                            new { @class = "pure-u-23-24" })
                            </div>
                            <div class="pure-u-1 pure-u-7-24">
                                @Html.LabelFor(m => m.FLAT)
                                @Html.TextBoxFor(
                            m => m.FLAT,
                            new { @class = "pure-u-23-24" })
                            </div>
                        </div>
                        <div class="pure-g pure-u-1 pure-u-sm-2-3">
                            <div class="pure-u-1 pure-u-md-11-24">
                                @Html.LabelFor(m => m.COUNTRY1)
                                @Html.DropDownListFor(
                            m => m.COUNTRY1,
                            new SelectList(Model.Countries),
                            new { @class = "pure-u-23-24" })
                            </div>
                            <div class="pure-u-1 pure-u-md-11-24">
                                @Html.LabelFor(m => m.TOWN1)
                                @Html.DropDownListFor(
                            m => m.TOWN1,
                            new SelectList(Model.Cities),
                            new { @class = "pure-u-23-24" })
                            </div>
                        </div>
                        <div class="pure-g pure-u-1 pure-u-sm-2-3">
                            <div class="pure-u-1 pure-u-md-11-24">
                                @Html.LabelFor(m => m.COUNTRY2)
                                @Html.DropDownListFor(
                            m => m.COUNTRY2,
                            new SelectList(Model.Countries),
                            new { @class = "pure-u-23-24" })
                            </div>
                            <div class="pure-u-1 pure-u-md-11-24">
                                @Html.LabelFor(m => m.TOWN2)
                                @Html.DropDownListFor(
                            m => m.TOWN2,
                            new SelectList(Model.Cities),
                            new { @class = "pure-u-23-24" })
                            </div>
                        </div>
                    </div>
                </div>
                <h3>пълномощници</h3>
                <div class="pure-form-stacked">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <a href="#" class="pure-button pure-button-active">избор на пълномощник 1</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            @Html.LabelFor(m => m.AUTHORISED_NAME)
                            @Html.TextBoxFor(m => m.AUTHORISED_NAME, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <label for="txtpulnomnm1">име на пълномощник 1</label>
                            <input type="text" name="txtpulnomnm1" value="" class="pure-u-1" />
                        </div>
                    </div>
                    <br />
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <a href="#" class="pure-button pure-button-active">избор на пълномощник 2</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            @Html.LabelFor(m => m.AUTHORISED_NAME2)
                            @Html.TextBoxFor(m => m.AUTHORISED_NAME2, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-2">
                            <label for="txtpulnomnm2">име на пълномощник 2</label>
                            <input type="text" name="txtpulnomnm2" value="" class="pure-u-1" />
                        </div>
                    </div>
                </div>
                <h3>банкови сметки</h3>
                <div class="pure-form-stacked">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <h3 class="form-heading">банкова сметка 1</h3>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.IBAN1)
                            @Html.TextBoxFor(m => m.FIRSTNAME, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-6">
                            @Html.LabelFor(m => m.BIC1)
                            @Html.TextBoxFor(m => m.SECONDNAME, new { @class = "pure-u-11-12" })
                        </div>
                        @*TODO: change to dropdownlist*@
                        <div class="pure-u-1 pure-u-md-1-2">
                            @Html.LabelFor(m => m.BANK1)
                            @Html.TextBoxFor(m => m.BANK1, new { @class = "pure-u-1" })
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <h3 class="form-heading">банкова сметка 2</h3>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.IBAN2)
                            @Html.TextBoxFor(m => m.FIRSTNAME, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-6">
                            @Html.LabelFor(m => m.BIC2)
                            @Html.TextBoxFor(m => m.SECONDNAME, new { @class = "pure-u-11-12" })
                        </div>
                        @*TODO: change to dropdownlist*@
                        <div class="pure-u-1 pure-u-md-1-2">
                            @Html.LabelFor(m => m.BANK2)
                            @Html.TextBoxFor(m => m.BANK2, new { @class = "pure-u-1" })
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <h3 class="form-heading">банкова сметка 3</h3>
                        </div>
                        <div class="pure-u-1 pure-u-md-1-3">
                            @Html.LabelFor(m => m.IBAN3)
                            @Html.TextBoxFor(m => m.FIRSTNAME, new { @class = "pure-u-23-24" })
                        </div>
                        <div class="pure-u-1 pure-u-md-1-6">
                            @Html.LabelFor(m => m.BIC3)
                            @Html.TextBoxFor(m => m.SECONDNAME, new { @class = "pure-u-11-12" })
                        </div>
                        @*TODO: change to dropdownlist*@
                        <div class="pure-u-1 pure-u-md-1-2">
                            @Html.LabelFor(m => m.BANK3)
                            @Html.TextBoxFor(m => m.BANK3, new { @class = "pure-u-1" })
                        </div>
                    </div>
                </div>
                <h3>допълнителни данни</h3>
                <div class="pure-form-aligned">
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.FIRSTNAME)
                        @Html.TextBoxFor(m => m.FIRSTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.SECONDNAME)
                        @Html.TextBoxFor(m => m.SECONDNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.LASTNAME)
                        @Html.TextBoxFor(m => m.LASTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.LASTNAME)
                        @Html.TextBoxFor(m => m.LASTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.LASTNAME)
                        @Html.TextBoxFor(m => m.LASTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                </div>
                <h3>данни пълномощник</h3>
                <div class="pure-form-aligned">
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.FIRSTNAME)
                        @Html.TextBoxFor(m => m.FIRSTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.SECONDNAME)
                        @Html.TextBoxFor(m => m.SECONDNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.LASTNAME)
                        @Html.TextBoxFor(m => m.LASTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                    <div class="pure-control-group">
                        @Html.LabelFor(m => m.LASTNAME)
                        @Html.TextBoxFor(m => m.LASTNAME, new { @class = "pure-u-md-1-2" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('[href*=register]').closest('.menu-item').addClass('selected');

        $(function () {
            $("#accordion").accordion({
                collapsible: true
            });
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                defaultDate: 0
            });
        });
    </script>
}