<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FiMA</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                @Html.ActionLink("FiMA", "Index", "Home", new { area = string.Empty }, new { @class = "page-brand" })
            </div>

            <div class="nav-bar">
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="sidebar">
            <div class="burger" onclick="burger(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a>
            @Html.Partial("_WorkMenu")
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </main>
    <footer>
        <p class="footer-content">&copy; @DateTime.UtcNow.Year - <b>FiМА</b> <a href="">Всички права са запазени.</a> </p>
    </footer>
    <script>
        function burger(x) {
            x.classList.toggle("burger-selected");
        }
    </script>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
