<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FiMA</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="nav-top-line">
        <div class="top-container">
                @Html.ActionLink("FiMA", "Index", "Home", new { area = string.Empty }, new { @class = "page-brand" })
                @Html.Partial("_LoginPartial")
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-collapse">
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
                <a href="@Url.Action("Home", new { @class = "navbar-brand" })">
                    <i class="glyphicon glyphicon-home"></i>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="toggle-collapse">
                    @Html.Partial("_WorkMenu")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.UtcNow.Year - <b>FiМА</b> <a href="">Всички права са запазени.</a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
