<ul>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index","Home", new { area = "FrontOffice" })"><i class="fa fa-chevron-right"></i>фронт офис</a>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index","Home", new { area = "BackOffice" })"><i class="fa fa-chevron-right"></i>бек офис</a>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index","Home", new { area = "Accounting" })"><i class="fa fa-chevron-right"></i>счетоводство</a>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index","Home", new { area = "Wallets" })"><i class="fa fa-chevron-right"></i>управление портфейли</a>
    </li>
    <li class="menu-item">
        <a class="links" href="@Url.Action("Index","Home", new { area = "Risk" })"><i class="fa fa-chevron-right"></i>управление на риска</a>
    </li>
</ul>